{% extends "base.htm" %}
{% block title %}Boiler chart{% endblock %}
{% block head %}
  <script src="{{ url_for('static', filename='highcharts.js') }}"></script>
  <script src="{{ url_for('static', filename='modules/exporting.js') }}"></script>
  <script type="text/javascript">
var counter = 0;
$(function() {
  var chartOptions = {
    chart: {
      type: 'column'
    },
    legend: {
      enabled: false
    },
    title: {
      text: "",
      style: { display: 'none' }
    },
    xAxis: {
      categories: {{ days | safe }},
      labels: {
        formatter: function() {
          var split = this.value.split("-");
          return split[1] + "/" + split[2];
        }
      },
      title: {
        text: 'Day'
      }
    },
    yAxis: {
      min: 0,
      title: {
        text: 'Time on / hours'
      }
    },
    credits: {
      enabled: false
    },
    tooltip: {
      formatter: function() {
        return Math.round(this.y) + "h " + Math.round((this.y * 60) % 60) + " m";
      }
    },
    plotOptions: {
      column: {
        animation: false,
      },
      series: {
        pointPadding: 0,
        groupPadding: 0,
        cursor: 'pointer',
        point: {
          events: {
            click: function() {
              window.location = "/boiler/chart/" + this.category;
            }
          }
        }
      }
    },
    series: [{
      name: 'Boiler time on',
      data: {{ data | safe }}
    }]
  };
  $('#container').highcharts(chartOptions);
});

  </script>
{% endblock %}
{% block content %}
<h1>Boiler stats</h1>

<div id="breadcrumbs"><a href="/">Home</a></div>

<h2>Boiler time spent firing</h2>

<div id="container"></div>
{% endblock %}
